@import 'nib'
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800")

pixelly()
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;

*
  box-sizing border-box

html
  font-family 'Open Sans', Helvetica, sans-serif
  width 100%
  height 100%
  margin 0
  padding 0
  text-align center
  background-image linear-gradient(#5596C9, #5596C9 25%, #5596C9)
  background-repeat no-repeat
  color white

button
  font-family 'Open Sans', sans-serif
  border 0
  background-color rgba(0,0,0,0.5)
  padding 5pt
  color white
  font-weight 700
  outline 0
  border 0

button.highlight
  background-color rgba(0,0,0,0.2)

button:hover
  cursor pointer
  background-color rgba(0,0,0,0.3)

button:active
  background-color rgba(0,0,0,0.4)

body
  margin 0
  padding 0

a[href]
  color #FFFFFF
  font-weight 700
  text-decoration none
  &:hover
    text-decoration underline

sidebar_width = 200px

button.custom
  margin 0
  font-weight 200
  position absolute
  top 0
  left 0
  width sidebar_width
  height 30px

.options
  padding 10pt
  display none
  text-align left
  position fixed
  top 30px
  left 0
  bottom 0
  width sidebar_width
  background white
  overflow hidden
  overflow-y auto
  background-color rgba(0,0,0,0.5)
  ul.list
    margin-left -10pt
    margin-right -10pt
    padding-left 0
    list-style none
    line-height 1.4em
    li
      input
        margin-top 5px
        float left
        opacity 0.4
      input:checked
        opacity 1
      label
        width 100%
        display block
      label:hover
        cursor pointer
        background-color rgba(255,255,255,0.1)

body.sidebar-visible
  margin-left sidebar_width
  .options
    display block

h1,h2,h3,h4,h5,h6
  font-family 'Open Sans', Helvetica, sans-serif
  font-weight 400

.loading
  position relative
  width 200px
  height 100px
  text-align center
  margin auto

.main
  display none
  margin 0 10pt

.error
  display none
  color #A41D1D
  background #F9C8C8
  padding 5pt
  border 1px solid #DA7474

footer
  font-weight 300
  margin-top 40pt
  p
    opacity 0.9
    text-align center

h1
  font-size 14pt

.generated-title
  font-size 32pt
  font-weight 700
  margin-top 40pt
  margin-bottom 5pt
